/* applies universal styling */
:root {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  --grey: #33393f;
  --teal: #2aefcb;
  --white: #e0eae4;
  --pink: #e866ec;
}

body {
  background-color: var(--grey);
  color: var(--white);
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 3em;

}

h1 {
  color: var(--pink);
  font-size: 45px;
}

p {
  /* text-align: center; */
  margin: 0 auto;
  padding: 2em;
  font-size: 17.5px;

}

h2 {
  color: var(--pink);
}

.box-text {
  color: #e866ec;
}

footer {
  color: var(--pink);
  text-align: center;
  font-size: 30px;
}

span {
  color: red;
}

section.row {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.pre-box {
  /* display: flex; */
  justify-content: space-evenly;
  flex-direction: row;
}

.column {
  width: 33.3%;
}

.card {
  border: dashed;
  height: 100%;
}

/* makes the page mobile repsonsive */

@media screen and (min-width:768px) {}